:root {
    --mainColor: #606B56;
    --secondaryColor: #515A48;

    --borderColor: #161914;

    --mainText: #FFF;
    --secondaryText: #EEEEEE;

    --themeDorBorder: #FFF;

    --previewBg: rgba(81,90,72,.8);
    --previewShadow: #2A2F25;

    --btnColor: #669966; 
}